
.displayData{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    scroll-behavior: smooth;
    overflow-y: scroll;
    height:auto;
    min-height: 20vh;
    max-height:80vh;
}

.dispHrLine{
    border: 2px solid black;
    border-bottom: 1px solid black;
}

.cardDisplay{
    min-width: 250px;
}
